.enjoy{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 0.8rem solid #3f3e3e;
    padding: 0 11rem 0 20rem;
    .text{
        width: 50%;
        text-align: left;
        h1{
            padding-bottom: 1.3rem;
        }
    }
    .video-container{
        width: 50%;
        .img{
            position: relative;
            z-index: 2;
            img{
                max-width: 90%;
                height: auto;
                margin-top: 3rem;
                margin-bottom: 5rem;
            }
            }
        .video{
            position: absolute;
            top: 11.4rem;
            left: 7.3rem;
            z-index: -1;
            video{
                max-width: 80%;
                height: auto;
            }
        }
    }
}
.download{
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.8rem solid #3f3e3e;
    padding: 0;
    .img{
        width: 50%;
        margin: 3rem 0 0rem 12rem;
        img{
            max-width: 140%;
            height: auto;
        }
        .container{
            display: flex;
            flex-direction: row;
            width: 32rem;
            height: 11rem;
            background: black;
            border-radius: 1.5rem;
            border: 0.1rem solid rgb(95, 95, 95);
            top: 1rem;
            transform: translate(32%, -125%);
            align-items: center;
            img{
                padding: 1.5rem;
                max-width: 28%;
            }
            p{
                color: white;
                font-size: $h4;
                span{
                    color: blue;
                    font-size: 1.44rem;
                }
            }
            .thegif{
                padding: 0;
                margin-left: 5rem;
                width: 17%;
                height: auto;
            }
        }
    }
    .text{
        width: 50%;
        h1{
            padding-bottom: 1.9rem;
            line-height: 5.5rem;
        }
    }
}
.watch{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 0.8rem solid #3f3e3e;
    padding: 0 9rem 0 20rem;
    .text{
        width: 50%;
        text-align: left;
        h1{
            padding-bottom: 1.3rem;
        }
    }
    .video-container{
        width: 50%;
        position: relative;
        .video{
            position: absolute;
            top: 10.8rem;
            left: 10.1rem;
            video{
                max-width: 70%;
                height: auto;
            }
        }
        .img{
            margin: 7rem 0 10rem 0;
            position: relative;
            img{
                z-index: 10000;
                max-width: 90%;
                height: auto;
            }
        }
    }
}
.create{
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.8rem solid #3f3e3e;
    padding: 0 9rem 0 20rem;
    .img{
        width: 50%;
        padding: 7rem 0rem 7rem;
        img{
            width: 85%;
            height: auto;
        }
    }
    .text{
        width: 50%;
        h1{
            padding-bottom: 1.9rem;
            line-height: 5.5rem;
        }
    }
}
