@font-face {
  font-family: 'NetflixSansM';
  src: url(../fontes/NetflixSans_W_Md.woff2) format("woff2");
}

@font-face {
  font-family: 'NetflixSansR';
  src: url(../fontes/NetflixSans_W_Rg.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'NetflixSansR', sans-serif;
}

body {
  font-family: 'NetflixSansR', sans-serif;
}

h1 {
  font-size: 5rem;
  font-family: 'NetflixSansM', sans-serif;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.92rem;
}

h4 {
  font-size: 1.6rem;
}

ul {
  font-style: none;
}

li {
  font-size: 1.3rem;
}

h1, h2, h3 {
  color: white;
  font-weight: 500;
}

header {
  height: 100vh;
}

.main-head {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.65)), to(transparent)), url(../imagens/backeground-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65) 100%, transparent), url(../imagens/backeground-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 0.8rem solid #3f3e3e;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 2.5rem 6rem;
}

.btn-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.language {
  padding: 1rem 1rem;
  outline: none;
  margin-right: 3.2rem;
  color: white;
  background: inherit;
  font-size: 1.4rem;
}

button {
  padding: 0.9rem 1.8rem;
  font-size: 1.6rem;
  font-family: 'NetflixSansR', sans-serif;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: #e50913;
  cursor: pointer;
}

.intro {
  margin-top: 15rem;
}

.intro h1, .intro h2, .intro h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.1rem;
}

.intro h1 {
  font-size: 6.4rem;
}

.intro h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.input-email {
  padding: 2.5rem 17rem;
  position: relative;
}

.label-email {
  position: absolute;
  z-index: 1;
  left: 26%;
  color: gray;
  font-size: 1.5rem;
}

.button-email {
  padding: 1.45rem 5rem;
  border-radius: 0;
  font-size: 3.2rem;
}

.enjoy {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 0.8rem solid #3f3e3e;
  padding: 0 11rem 0 20rem;
}

.enjoy .text {
  width: 50%;
  text-align: left;
}

.enjoy .text h1 {
  padding-bottom: 1.3rem;
}

.enjoy .video-container {
  width: 50%;
}

.enjoy .video-container .img {
  position: relative;
  z-index: 2;
}

.enjoy .video-container .img img {
  max-width: 90%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.enjoy .video-container .video {
  position: absolute;
  top: 11.4rem;
  left: 7.3rem;
  z-index: -1;
}

.enjoy .video-container .video video {
  max-width: 80%;
  height: auto;
}

.download {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.8rem solid #3f3e3e;
  padding: 0;
}

.download .img {
  width: 50%;
  margin: 3rem 0 5rem 12rem;
}

.download .img img {
  max-width: 140%;
  height: auto;
}

.download .text {
  width: 50%;
}

.download .text h1 {
  padding-bottom: 1.9rem;
  line-height: 5.5rem;
}

.watch {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 0.8rem solid #3f3e3e;
  padding: 0 9rem 0 20rem;
}

.watch .text {
  width: 50%;
  text-align: left;
}

.watch .text h1 {
  padding-bottom: 1.3rem;
}

.watch .video-container {
  width: 50%;
  position: relative;
}

.watch .video-container .video {
  position: absolute;
  top: 10.7rem;
  left: 10rem;
}

.watch .video-container .video video {
  max-width: 70%;
  height: auto;
}

.watch .video-container .img {
  margin: 7rem 0 10rem 0;
}

.watch .video-container .img img {
  max-width: 90%;
  height: auto;
}

.create {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.8rem solid #3f3e3e;
  padding: 0;
}

.create .img {
  width: 50%;
}

.create .text {
  width: 50%;
}

.create .text h1 {
  padding-bottom: 1.9rem;
  line-height: 5.5rem;
}

.questions {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 0.8rem solid #3f3e3e;
  position: relative;
}

.questions h1 {
  margin: 6rem auto;
}

.questions .all-details {
  margin-bottom: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions .all-details details {
  display: inline;
  cursor: pointer;
  font-size: 2.6rem;
  color: white;
  background: #3f3e3e;
  width: 80rem;
}

.questions .all-details details summary {
  padding: 2rem 6rem 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1rem solid black;
}

.questions .all-details details .details-content {
  margin: 3rem;
}

.questions .all-details details .details-content p + p {
  margin-top: 4rem;
}

.questions .all-details details + details {
  margin-top: 1rem;
}

.questions h3 {
  text-align: center;
  margin: 6rem 0 0.7rem;
}

footer {
  background: black;
  color: #3f3e3e;
}

footer a {
  text-decoration: none;
  color: #3f3e3e;
}

footer a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

footer a:visited {
  color: #3f3e3e;
}

footer p {
  margin-left: 30rem;
  padding-top: 7rem;
  font-size: 1.6rem;
}

footer .lists {
  padding: 3rem 41rem 3rem 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
}

footer .lists li {
  list-style: none;
  color: #3f3e3e;
}

footer .lists li + li {
  padding-top: 1.3rem;
}

footer .select-language {
  margin-left: 30rem;
  margin-bottom: 3rem;
}

footer .select-language select {
  padding: 1.7rem 3rem;
}

footer .p-net {
  margin-left: 30rem;
  padding-top: 0;
  padding-bottom: 3rem;
  color: #3f3e3e;
  font-size: 1.3rem;
}
/*# sourceMappingURL=style.css.map */